/* ProductCategories.css */

.swiper-pagination-bullet {
  background-color: #d1d5db; /* gray-300 */
  opacity: 1;
  width: 10px;
  height: 10px;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #f59e0b; /* amber-500 */
}

/* Optional: Shift pagination lower */
.swiper-pagination {
  bottom: 0px !important;
}
